/*all background */
/*this entire file can we written with <style> directly in the html file as well */
html{
    
    background-color: black; 
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{ margin: 0;}

#navbar{

    height: 50px;

}

div{box-sizing: border-box;}/*so that all borders are inside the box */
#flex{

   display: flex;/*all text in this one after the other in a line rather than earlier bullets */
    height: calc(100vh - 50px); /*for the box to go all the way in height */


} 

#sidebar{
    
    width: 20%;
    background-color: goldenrod;




}


#main{width: 80%;
    background-color: rgb(255, 255, 255);
        color: black;
        background-image: url("C:\Users\FARIDA\Downloads\4892.jpg");
        background-size: cover;
        background-position: center;



}
    
.container{

    border-style: dotted;
    border-color: white;
    border-width: 1px;

}